

main .container .content .table .thead {
    text-transform: uppercase;
}

main .container .table {
    font-weight: none;
    text-align: center;
}

main .container .content .table .thead tr th{
    font-weight: 500;
}

main .container .content .table .thead tr td {
    text-transform: capitalize;
}