@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

main .container .content .table .thead {
    text-transform: uppercase;
}

main .container .table {
    font-weight: none;
    text-align: center;
}

main .container .content .table .thead tr th{
    font-weight: 500;
}

main .container .content .table .thead tr td {
    text-transform: capitalize;
}