

main .container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
}

main .container .contents {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    padding: 2rem;
    border: solid 1px #2273B9;
}

main .container .contents .h1 {
    font-size: 25px;
    padding: 0 2rem 2rem;
    margin-bottom: 0;
    color: black;
    font-weight: 400;
}

main .container .contents form {
    width: 80%;
}

main .container .contents form #infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

main .container .contents form #infos label {
    font-size: 15px;
    font-weight: 400;
    width: 50%;
    color: black;
}

main .container .contents form #infos input {
    width: 80%;
    border: #2273B9 1px solid;
    font-weight: 100;
}

main .container .contents form .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .container .contents form .button .right {
    font-size: 12px;
}

main .container .contents form .button .btn {
    padding: 0.5rem 1.2rem;
    height: min-content;
    background-color: #2273B9;
    border: none;
    text-transform: capitalize;
}