
main .container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

main .container .content .h2 {
    color: #2273B9;
    font-size: 28px;
    margin-bottom: 1rem;
    font-weight: 100;
    text-transform: uppercase;
}

main .container .content .offres .table thead tr .th_offre{
    font-weight: 500;
}

main .container .content .offres .table tbody tr td form button {
    color: #2273B9;
    text-decoration: underline;
    border: none;
}

main .container .content .details {
    border-bottom: rgb(185, 185, 185) 1px solid;
    border-top: rgb(185, 185, 185) 1px solid;
    padding: 0.5rem;
    border-radius: 2px;
}

main .container .content .details .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .container .content .details .title span {
    color: #2273B9;
    font-size: 18px;
    font-weight: 400;
}

main .container .content .details .title form .submit {
    outline: none;
    background-color: #157347;
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 15px;
    border: none;
    border-radius: 3px;
}

main .container .content .details .title form .submit:hover {
    background-color: #68a589;
}

#groupe {
    font-weight: 500;
    padding: 0.2rem;
}

#groupe .value{
    font-weight: 300;
    margin: 0;
}

main .container .content .details .success_message, .error_message {
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    padding: 0.5rem;
}

main .container .content .details .success_message {
    background-color: #42976f;
}

main .container .content .details .error_message {
    background-color: #d4716e;
}