
main .container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

main .container .content .h2 {
    color: #2273B9;
    font-size: 28px;
    margin-bottom: 1rem;
    font-weight: 100;
    text-transform: uppercase;
}

main .container .content .offres .table thead tr .th_offre{
    font-weight: 100;
}

main .container .content .offres .table tbody tr td form button {
    color: #2273B9;
    text-decoration: underline;
    border: none;
}

main .container .content .details {
    border: black 1px solid;
    padding: 0.5rem;
    border-radius: 5px;
}

main .container .content .details .title {
    display: flex;
    justify-content: space-between;
}

main .container .content .details .title span {
    color: #2273B9;
    font-size: 16px;
    font-weight: 400;
}

main .container .content .details .title form .submit {
    
}