/* MAIN */

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main .container h1 {
    margin: 2rem 0 0 0;
}

/* Button add post */

main .container .add {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}

/* Cards */

main .container .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
}
main .container .cards .card img {
    height: 16rem !important;
}

/* Buttons actions */
main .container .cards .card .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem;
}

.button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight:400;
    display:inline-block;
    color:#FFF;
    border-radius: .25em;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
}

.primary {
    line-height:40px;
    transition:ease-in-out .2s;
    padding: 0 16px;
}

.primary:hover {
    transform:scale(1.02);
    color: white;
}

.edit:before, .delete:before, .new:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size:1rem;
    padding-right:12px;
    background:none;
    color:#FFF;
}

main .container .add .new {
    background: rgb(64, 122, 231);
}

/* RESPONSIVE DASH-PHOTO PAGE */

