*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3ECEC;
    height:100%;
}

header .header {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    background-size: cover;
    position: relative;
    height: max-content;
    overflow: hidden;
}

header .header .head {
  padding-top: 1rem;
    display: flex;
    align-items: center;
    height: max-content;
}

header .header .logo img {
    width: 275px;
}

header .header nav {
    padding-top: 0rem;
}

header .header nav ul {
    display: flex;
    justify-content: flex-end;
}

header .header nav ul li {
    display: inline-block;
    cursor: pointer;
    list-style: none;
    font-size: 18px;
    text-align: center;
    width: max-content;
    padding: 0 1.2rem;
}

header .header nav ul li a {
    text-decoration: none;
}

header .header nav ul li a,
header .header nav ul li a::after,
header .header nav ul li a::before {
    transition: all .2s;
}

header .header nav ul li a:hover {
    color: rgb(243, 159, 159);
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #F3ECEC;
  height: 1px;
}

 nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 1s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Style Main */
.container {
    height: max-content;
}



/* Style One Card */
main .container .container-fluid .card {
    background-color: #F3ECEC;
    border: none;
}

main .container .container-fluid .route a {
    text-decoration: none;
    color: whitesmoke;
}

main .container .container-fluid .route {
    background-color: #F3ECEC;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

main .container .container-fluid .route a,
main .container .container-fluid .route a::after,
main .container .container-fluid .route a::before {
    transition: all .2s;
}

main .container .container-fluid .route a:hover {
    filter: drop-shadow(0 6mm 4mm rgb(47, 44, 48));
    color: whitesmoke;
}

main .container .container-fluid .route.strok a,
main .container .container-fluid .route.fill a {
    position: absolute;
    left: 30%;
    top: 40%;
}

main .container .container-fluid .route.strok a:after,
main .container .container-fluid .route.fill a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: whitesmoke;
    height: 1px;
}

main .container .container-fluid .route.strok a:hover:after {
   width: 100%;
}

main .container .container-fluid .route.fill a {
    transition: all 1s;
}

main .container .container-fluid .route.fill a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

main .container .container-fluid .route.fill a:hover {
    filter: blur(3px);
    color: #fff;
    z-index: 1;
}

main .container .container-fluid .route.fill a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

main .container .container-fluid .card img:hover {
    filter: blur(2px);
    cursor: pointer;
}




/* RESPONSIVE HEADER */
@media screen and (min-width: 1300px) and (max-width: 1455px) {
  header .header {
      align-items: center;
  }

  header .header .head {
    padding-top: 1rem;
  }

  header .header nav ul {
    display: flex;
    align-items: center;
  }

  header .header nav ul li {
    padding: 0 1rem;
    margin: 0;
  }

  /* MAIN */
  main .container .container-fluid {
      display: flex;
      align-items: center;
      justify-content: center;
      column-count: auto;
  }
}

@media screen and (min-width: 1117px) and (max-width: 1300px) {
  header .header {
      padding-top: 0;
  }

  header .header .head {
    padding-top: 1rem;
  }

  header .header nav ul {
    display: flex;
    align-items: center;
  }

  header .header nav ul li {
    padding: 0 0.6rem;
    font-size: 16px;
  }

  main .conatiner .container-fluid .card .route a {
    font-size: 24px;
  }
}

@media screen and (min-width: 965px) and (max-width: 1117px) {
  header .header .head {
    padding-top: 0rem;
  }

  header .header nav ul {
    display: flex;
    align-items: center;
  }

  header .header nav ul li {
    padding: 0 0.8rem;
    font-size: 12px;
  }

  main .conatiner .container-fluid .card .route a {
    font-size: 22px;
  }
}

@media screen and (min-width: 750px) and (max-width: 965px){
  header .header {
      align-items: center;
    height: 12vh;
    padding: 0;
  }

  header .header nav {
    display: flex;
    justify-content: flex-end;
  }

  header .header nav ul {
      padding: 0;
  }

  header .header nav .vid {
      display: none;
  }

  header .header nav ul li {
    padding: 0 0.6rem;
    font-size: 12px;
  }

  header .header .head {
      padding-top: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  header .header .head .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }

  header .header .head .logo img {
      width: 250px;
  }

  header .header .head nav ul form {
    display: none;
  }

  main .conatiner .container-fluid .card .route a {
    font-size: 18px;
  }
}

@media screen and (min-width: 683px) and (max-width: 750px){
  header {
    background: none;
    height: max-content;
  }

  header .header .head {
    padding-top: 0;
  }
  
  header .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 12vh;
    padding: 0 !important;
  }

  header .header nav ul li {
    padding: 0 0.6rem;
    font-size: 12px;
  }

  .slogon {
    display: none;
  }

  header .header nav ul {
      padding: 0;
      width: max-content;
  }
  header .header nav .vid {
      display: none;
  }

  header .header .head nav ul form {
    display: none;
  }

  header .header .head .logo img {
      width: 220px;
  }

  main .conatiner .container-fluid .card .route a {
    font-size: 16px;
  }
}

@media screen and (max-width: 683px){
  header {
    background: none;
    height: max-content;
  }

  header .header nav ul li {
    padding: 0 0.6rem;
    font-size: 12px;
  }

  .slogon {
    display: none;
  }

  header .header .head nav ul form {
    display: none;
  }

  header .header .head .logo {
    width: auto;
  }

  header .header .head .logo img {
      width: 220px;
  }

  header .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 16vh;
    align-items: center;
    padding: 0 !important;
  }

  header .header .head {
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  header .header .head nav ul {
    padding: 0;
    width: max-content;
  }
  header .header nav .vid {
      display: none;
  }

  main .conatiner .container-fluid .card .route a {
    font-size: 16px;
  }
}

@media screen and (max-width: 619px){
  header {
    background: none;
    height: max-content;
  }

  header .header nav ul li {
    padding: 0 0.5rem;
    font-size: 12px;
  }

  .slogon {
    display: none;
  }

  header .header .head nav ul form {
    display: none;
  }

  header .header .head .logo img {
      width: 180px;
  }

  header .header {
    height: 15vh;
  }

  header .header .head {
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  header .header .head nav ul {
    padding: 0;
    width: max-content;
  }
  header .header nav .vid {
      display: none;
  }

  main .conatiner .container-fluid .card .route a {
    font-size: 12px;
  }
}

@media screen and (max-width:587px){
  header .header .head {
    padding-top: 0;
  }

  header .header .head nav {
    width: auto;
  }

  header .header .head .logo {
    width: auto;
  }
  header .header nav .vid {
      display: none;
  }

  main .conatiner .container-fluid .card .route a {
    font-size: 12px;
  }
}



/* RESPONSIVE DASHBOARD PAGE */
